.footer {
  height: 42.4vh;
  background: #efecce;
}
.logo_col {
  box-sizing: border-box;
  background: #f8f5f2;
  border: 2px solid #d6d2ae;
  height: 42.4vh;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo_col .logo img {
  width: 23.2vh;
  height: 6.8vh;
  margin: 5.3vh 2.8vh 8.4vh 5.3vh;
}
.social p {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2vh;
  line-height: 3.6vh;
  text-align: center;
  color: #242d2c;
}
.social_logo {
  display: flex;
  justify-content: center;
}
.social_logo div {
  padding: 1vh;
}
.menu,
.services,
.contact {
  display: flex;
  justify-content: center;
  margin-top: 3.5%;
}
.footer h4 {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2vh;
  line-height: 3.6vh;
  color: #242d2c;
}
.footer p {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8vh;
  line-height: 2vh;
  color: #242d2c;
}
