.forms{
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.upper-image img{
  width: 41.1vh;
  height: 49.3vh;
}
.upper-image{
  position: absolute;
  top: 0;
}
.lower-image img{
  width: 41.1vh;
  height: 49.3vh;
}
.lower-image {
  position: absolute;
  right: 0vh;
  bottom: 0vh;
}
.sign-log-form input {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  padding-left: 10px;
}

.sign-log-form .form-heading p {
  text-align: center;
  font-family: 'poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #b89562;
  padding: 2vh;
}
.sign-log-form .names-inp {
  display: flex;
  justify-content: center;
  padding: 3vh;
}
.sign-log-form .names-inp .first-name {
  margin-right: 2vh;
}

.sign-log-form .password input,
.sign-log-form .email input,
.sign-log-form .confirm-password input {
  width: 85.6vh;
}

.sign-log-form .email {
  display: flex;
  justify-content: space-around;
  margin-right: 5vh;
  padding: 3vh;
}
.sign-log-form .password {
  display: flex;
  justify-content: space-around;
  margin-right: 5vh;
  padding: 3vh;
}
.sign-log-form .confirm-password {
  display: flex;
  justify-content: space-around;
  margin-right: 5vh;
  padding: 3vh;
}
.sign-log-form input:placeholder-shown {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}
.sign-log-form .form-submit-button {
  display: flex;
  justify-content: center;
  margin: 2vh 5vh 2vh 0;
}
.sign-log-form .form-submit-button button {
  width: 55.6vh;
  height: 5.9vh;
  background: #242d2c;
  border-radius: 7px;
}
.sign-log-form .form-submit-button button p {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 5.9vh;
  text-align: center;
  color: #ffffff;
}
.sign-log-form .form-submit-button p {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  color: #848484;
}
.sign-log-form .form-para {
  display: flex;
  justify-content: center;
  margin-right: 7vh;
}
.sign-log-form .form-para {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #848484;
}
@media (max-width: 800px) {
  .sign-log-form .names-inp {
    flex-direction: column;
    margin: 2vh;
  }
  .sign-log-form .names-inp .first-name {
    margin-bottom: 4vh;
  }
  .lower-image {
    width: 41.1vh;
    height: 49.3vh;
    display: flex;
    justify-content: end;
    padding-left: 0vh;
  }
}
