
.container {
  max-width: 75%;
  margin: auto;
  overflow: auto;
  padding: 0 2rem; 
  margin-top: 70px;   
}

.service-head{
    margin-top: 13.8vh;
}
.service-head h4 {

  font-style: normal;
  font-weight: 600;
  font-size: 40px !important;
  line-height: 6.1vh;
  color: #b89562;
  text-align: center;
}
.service-head p {
  
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2.7vh;
  text-align: center;
  color: #848484;
}

.services-selection {
  display: flex;
}

.service-card {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.service-card h3 {
  font-size: 25px;
  margin-top: 12px;
  color: rgb(184, 149, 98);
}

.service-card p {
  color: #555;
  font-size: 15px;
}

.service-card .service-img {
  width:100%;
  height: 70vh;
}

