footer {
  /* background-color: #6633CC; */
  background: linear-gradient(140deg, #5c3d9e 0%, #7350bd 100%);
  padding: 30px 0;
}
figure {
  text-align: center;
}
footer .p1 p {
  color: #efecce;
  text-align: center;
  font-family: "poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.logo{
  font-family: "qwitcher grypen" !important;
  color: #fff;
  font-size: 50px;
  font-weight: 500 !important;
}

.flogo {
  text-align: right;
}
.copyright.text-center {
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #efecce;
  /* background: #6633CC; */
  background: linear-gradient(140deg, #5c3d9e 0%, #7350bd 100%);
}
.copyright.text-center p {
  text-transform: capitalize;
}
.footerLinks a {
  color: #efecce;
  font-family: "poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}
.contactDetail li {
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
}
.socialIcon li {
  display: inline-block;
}
.socialIcon li span {
  padding: 12px 15px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px 0 0;
}

ul.socialIcon {
  padding-left: 0px;
  display: flex;
  justify-content: center;
}
.ftr-md1 h5 {
  color: #efecce;
  font-family: "poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
ul.footerLinks {
  padding-left: 0px;
}

ul.footerLinks li {
  margin-bottom: 18px;
}
.ftr-md1 {
  margin-top: 40px;
}
.copyright-footer {
  font-family: poppins;
  font-size: 20px;
}