.forms {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.upper-image img {
  width: 41.1vh;
  height: 49.3vh;
}
.upper-image {
  position: absolute;
  top: 0;
}
.lower-image img {
  width: 41.1vh;
  height: 49.3vh;
}
.lower-image {
  position: absolute;
  right: 0vh;
  bottom: 0vh;
}
.sign-log-form input {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  padding: 10px;
}

.sign-log-form .form-heading p {
  color: #5c3d9e;
  font-family: "Poppins";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
.sign-log-form .names-inp {
  display: flex;
  justify-content: center;
  padding: 3vh;
}



.sign-log-form .password input,
.sign-log-form .email input,
.sign-log-form .confirm-password input {
  width: 65%;
}

.sign-log-form .email {
  display: flex;
  justify-content: space-around;
  padding: 3vh;
  flex-direction: column;
  align-items: center;
}
.sign-log-form .password {
  display: flex;
  justify-content: space-around;
  padding: 3vh;
  flex-direction: column;
  align-items: center;
}
.password,
.confirm-password{
  position: relative;
}
.password i,
.confirm-password i{
  position: absolute;
  right: 180px;
  top: 20px;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.sign-log-form .confirm-password {
  display: flex;
  justify-content: space-around;
  padding: 3vh;
  flex-direction: column;
  align-items: center;
}
.sign-log-form input:placeholder-shown {
  font-family: "poppins";
  font-style: normal;
  line-height: 27px;
  font-weight: 400;
  font-size: 18px;
}
.sign-log-form .form-submit-button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.sign-log-form .form-submit-button button {
  border-radius: 10px;
  background: #5c3d9e;
  color: #fff;
  font-family: "Poppins";
  font-size: 20px;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 62%;
  height: 55px;
  flex-shrink: 0;
  border: none;
  outline: none;
}

.sign-log-form .form-submit-button button:hover{
  background-color: #3b2669;
}

.sign-log-form .form-para {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 35px;
}
.sign-log-form .form-para p {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #848484;
}
@media (max-width: 800px) {
  .sign-log-form .names-inp {
    flex-direction: column;
    margin: 2vh;
  }
  .sign-log-form .names-inp .first-name {
    margin-bottom: 4vh;
  }
  .lower-image {
    width: 41.1vh;
    height: 49.3vh;
    display: flex;
    justify-content: end;
    padding-left: 0vh;
  }
 
}
.sign-log-form {
  background: #fff;
  padding: 30px;
  border-radius: 50px 0px 0px 50px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  width: 102%;
}
.forms {
  /* background: #5c3d9e; */
  background-image: radial-gradient(#624a96, #3b2669);
}
.forms .container-fluid,
.forms .row,
.forms .container-fluid .row .col-lg-4 .col-lg-8 {
  height: 100%;
}
.side-panel-form {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.side-panel-form h4 {
  color: #fff;
  /* font-family: "Poppins"; */
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
.side-panel-form h4 span {
  color: #ffa2ff;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.logo-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}
.forms form{
  width: 100%;
}
@media (max-width: 1000px) {
  .forms {
    height: 100%;
  }
  .side-panel-img-wrapper{
    height: 40%;
    width: 60%;
  }
  .side-panel-img-wrapper.float {
    position: inherit;
    z-index: 33;
  }
  .sign-log-form{
    padding: 10px;
  }
  .sign-log-form .email,
  .sign-log-form .password,
  .sign-log-form .confirm-password {
    padding: 1vh;
    padding-bottom: 3vh;
  }
  .sign-log-form{
    border-radius: 0px;
  }
  .side-panel-form{
    margin-top: 100px;
  }
  .sign-log-form .form-para p{
    font-size: 18px;
  }.sign-log-form {
    background: #fff;
    padding: 30px;
    /* border-radius: 50px 0px 0px 50px !important; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    width: 105% !important;
    margin-left: -15px;
  }
}
