*{
    font-family: 'Poppins', sans-serif;
}
/* .container {
    width: 90%;   
    margin:auto;
    margin-top: 50px;      
} */

.heading h1 {
    text-align: center;
    color: #5C3D9E;
    font-weight: bold;
    font-size: 45px;
}

.heading p {
    text-align: center;
    font-size: 18px;
}
ul {
    list-style: none;
}
.overview-section h3, .services-section h3, .requirement-section h3, .location-section h3, .capacity h3 {
    font-size: 26px;
    font-weight: 600;
    color: #5C3D9E;
}

.overview-section p {
    margin-top: 20px;
}

.overview-section span {
    font-weight: 600;
    color: #5C3D9E;
}

.capacity h3 span {
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.buttons button {
    margin-top: 20px;
    border: 1px solid #5C3D9E;
    border-radius: 50px;
    background-color: #5C3D9E;
    color: #fff;
    padding: 10px 20px;
    font-weight: 400;
}

.capacity h3 {
    font-weight: 500;
}

.buttons .btn2 {
    margin-left: 20px;
}

.location-section h3 {
    margin-top: 30px;
}
.services-section .services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.services-section .services p {
    border: 1px solid #5C3D9E;
    border-radius: 50px;
    background-color: transparent;
    color: #5C3D9E;
    padding: 10px 20px;
    font-weight: 400;
}

.services-section .services p:hover {
    background-color: #5C3D9E;
    color: #fff;
    cursor: pointer;
}