.card {
  width: 20vw;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
  border: none !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.card .card-description {
  padding: 20px;
}
.card .card-description .image-portion {
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
}

.card .card-description .service-portion {
  display: flex;
  justify-content: center;
}
.card .card-description .service-portion p {
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 3.4vh;
  text-align: center;
  color: #000;
  margin-top: 12px;
}
.card .card-description .service-description {
  display: flex;
  justify-content: center;
  text-align: center;
}
.card .card-description .service-description p {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2vh;
  line-height: 2.5vh;
  text-align: center;
  color: #5c3d9e;
}

.btn-section {
  display: flex;
  justify-content: center;
}

.btn-section .btn {
  border-radius: 20px;
  color: #fff;
  background-color: #5c3d9e;
  padding: 5px 20px;
}

.btn-section .btn:hover {
  background-color: #382169;
}
