.home-page {
  background-color: #f8f5f2;
}
.home-container {
  position: relative;
  padding: 100px 0px;
}
head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head h4 {
  margin-top: 4vh;
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 6vh;
  line-height: 6.8vh;
  text-align: center;
  color: #b89562;
}
.card-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 5.2vh;
  padding: 20px;
}

.home-page .arrow {
  margin: 74px 0 74px 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 5.2vh;
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://plus.unsplash.com/premium_photo-1664530452358-d50d2d4a98d1?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: ellipse(100% 60% at 50% 40%);
}

.hero-section h1 {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  .card-section {
    flex-direction: column;
  }
  .card-section .card {
    margin-top: 2vh;
  }
  .how-work-des {
    flex-direction: column;
  }
}
